.content_container {
  overflow: auto;
  word-break: normal;
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Michroma', sans-serif;
}